{% extends 'default.html.twig' %}

{% block body %}

    <ul>
        {% for post in posts %}
            <li>
                {{ post.name }} dans la catégorie {{ post.category.name }}
                <a href="{{ path('posts.edit', {id: post.id}) }}">Editer</a>
            </li>
        {% endfor %}
    </ul>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock  %}
